<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean id="userDao" class="com.abin.dao.impl.UserDaoImpl" init-method="init" destroy-method="destroy"/>   <!-- 单例的 -->
  <bean id="userService" class="com.abin.service.impl.UserServiceImpl">
<!--    <property name="userDao" ref="userDao"></property>-->
    <constructor-arg name="userDao" ref="userDao"></constructor-arg>
  </bean>


</beans>